USE [master]
GO
/****** Object:  Database [tarificador_nicaragua]    Script Date: 9/30/2025 8:56:13 PM ******/
CREATE DATABASE [tarificador_nicaragua]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'tarificador_nicaragua', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\tarificador_nicaragua.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'tarificador_nicaragua_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\tarificador_nicaragua_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [tarificador_nicaragua].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [tarificador_nicaragua]
GO
/****** Object:  Table [dbo].[llamadas]    Script Date: 9/30/2025 8:56:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[llamadas](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[contacto_origen_id] [int] NOT NULL,
	[numero_destino] [varchar](20) NOT NULL,
	[tipo_destino] [varchar](20) NOT NULL,
	[operadora_destino] [varchar](20) NULL,
	[departamento_destino] [varchar](50) NULL,
	[duracion_segundos] [int] NOT NULL,
	[costo_total] [decimal](10, 2) NOT NULL,
	[troncal_usada] [varchar](50) NULL,
	[central_usada] [varchar](50) NULL,
	[fecha_llamada] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[contactos]    Script Date: 9/30/2025 8:56:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[contactos](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[numero] [varchar](20) NOT NULL,
	[tipo_numero_id] [int] NULL,
	[operadora_id] [int] NULL,
	[departamento_id] [int] NULL,
	[fecha_registro] [datetime] NULL,
	[activo] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vista_llamadas_completa]    Script Date: 9/30/2025 8:56:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Vista de llamadas completa (ÚLTIMO - depende de llamadas y contactos)
CREATE VIEW [dbo].[vista_llamadas_completa] AS 
SELECT 
  l.id AS id,
  l.fecha_llamada AS fecha_llamada,
  c_origen.nombre AS contacto_origen,
  c_origen.numero AS numero_origen,
  l.numero_destino AS numero_destino,
  l.tipo_destino AS tipo_destino,
  l.operadora_destino AS operadora_destino,
  l.departamento_destino AS departamento_destino,
  l.duracion_segundos AS duracion_segundos,
  CAST(l.duracion_segundos / 60 AS VARCHAR) + 'm ' + CAST(l.duracion_segundos % 60 AS VARCHAR) + 's' AS duracion_formateada,
  l.costo_total AS costo_total
FROM llamadas l 
JOIN contactos c_origen ON l.contacto_origen_id = c_origen.id;
GO
/****** Object:  Table [dbo].[centrales]    Script Date: 9/30/2025 8:56:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[centrales](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[troncal_id] [int] NULL,
	[ubicacion] [varchar](100) NULL,
	[tipo] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[departamentos]    Script Date: 9/30/2025 8:56:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[departamentos](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[prefijo] [varchar](3) NOT NULL,
	[region] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [uk_nombre_departamento] UNIQUE NONCLUSTERED 
(
	[nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [uk_prefijo_departamento] UNIQUE NONCLUSTERED 
(
	[prefijo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[facturas]    Script Date: 9/30/2025 8:56:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[facturas](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[contacto_id] [int] NOT NULL,
	[periodo_id] [int] NOT NULL,
	[total] [decimal](10, 2) NULL,
	[fecha_generacion] [datetime] NULL,
	[estado] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[operadoras]    Script Date: 9/30/2025 8:56:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[operadoras](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](20) NOT NULL,
	[prefijo] [varchar](1) NOT NULL,
	[tiene_convencional] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [uk_nombre_operadora] UNIQUE NONCLUSTERED 
(
	[nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [uk_prefijo_operadora] UNIQUE NONCLUSTERED 
(
	[prefijo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[periodos_facturacion]    Script Date: 9/30/2025 8:56:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[periodos_facturacion](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[fecha_inicio] [date] NOT NULL,
	[fecha_fin] [date] NOT NULL,
	[estado] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[servidores]    Script Date: 9/30/2025 8:56:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[servidores](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[tipo] [varchar](20) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[ip_address] [varchar](15) NULL,
	[capacidad] [int] NULL,
	[estado] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tarifas]    Script Date: 9/30/2025 8:56:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tarifas](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[tipo_origen] [varchar](20) NOT NULL,
	[operadora_origen] [varchar](20) NULL,
	[tipo_destino] [varchar](20) NOT NULL,
	[operadora_destino] [varchar](20) NULL,
	[misma_region] [bit] NULL,
	[costo_minuto] [decimal](8, 4) NOT NULL,
	[descripcion] [varchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tipos_numero]    Script Date: 9/30/2025 8:56:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tipos_numero](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[tipo] [varchar](20) NOT NULL,
	[descripcion] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [uk_tipo] UNIQUE NONCLUSTERED 
(
	[tipo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[troncales]    Script Date: 9/30/2025 8:56:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[troncales](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[departamento_id] [int] NULL,
	[capacidad] [int] NULL,
	[servidor_asignado] [varchar](100) NULL,
	[estado] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[usuarios]    Script Date: 9/30/2025 8:56:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[usuarios](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](50) NOT NULL,
	[password_hash] [varchar](255) NOT NULL,
	[rol] [varchar](20) NULL,
	[nombre_completo] [varchar](100) NULL,
	[email] [varchar](100) NULL,
	[activo] [tinyint] NULL,
	[fecha_creacion] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[centrales] ADD  DEFAULT ('local') FOR [tipo]
GO
ALTER TABLE [dbo].[contactos] ADD  DEFAULT (getdate()) FOR [fecha_registro]
GO
ALTER TABLE [dbo].[contactos] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[facturas] ADD  DEFAULT ((0.00)) FOR [total]
GO
ALTER TABLE [dbo].[facturas] ADD  DEFAULT (getdate()) FOR [fecha_generacion]
GO
ALTER TABLE [dbo].[facturas] ADD  DEFAULT ('pendiente') FOR [estado]
GO
ALTER TABLE [dbo].[llamadas] ADD  DEFAULT (getdate()) FOR [fecha_llamada]
GO
ALTER TABLE [dbo].[operadoras] ADD  DEFAULT ((0)) FOR [tiene_convencional]
GO
ALTER TABLE [dbo].[periodos_facturacion] ADD  DEFAULT ('abierto') FOR [estado]
GO
ALTER TABLE [dbo].[servidores] ADD  DEFAULT ((500)) FOR [capacidad]
GO
ALTER TABLE [dbo].[servidores] ADD  DEFAULT ('activo') FOR [estado]
GO
ALTER TABLE [dbo].[troncales] ADD  DEFAULT ((1000)) FOR [capacidad]
GO
ALTER TABLE [dbo].[troncales] ADD  DEFAULT ('activo') FOR [estado]
GO
ALTER TABLE [dbo].[usuarios] ADD  DEFAULT ('operador') FOR [rol]
GO
ALTER TABLE [dbo].[usuarios] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[usuarios] ADD  DEFAULT (getdate()) FOR [fecha_creacion]
GO
ALTER TABLE [dbo].[centrales]  WITH CHECK ADD FOREIGN KEY([troncal_id])
REFERENCES [dbo].[troncales] ([id])
GO
ALTER TABLE [dbo].[contactos]  WITH CHECK ADD  CONSTRAINT [fk_contactos_departamento] FOREIGN KEY([departamento_id])
REFERENCES [dbo].[departamentos] ([id])
GO
ALTER TABLE [dbo].[contactos] CHECK CONSTRAINT [fk_contactos_departamento]
GO
ALTER TABLE [dbo].[contactos]  WITH CHECK ADD  CONSTRAINT [fk_contactos_operadora] FOREIGN KEY([operadora_id])
REFERENCES [dbo].[operadoras] ([id])
GO
ALTER TABLE [dbo].[contactos] CHECK CONSTRAINT [fk_contactos_operadora]
GO
ALTER TABLE [dbo].[contactos]  WITH CHECK ADD  CONSTRAINT [fk_contactos_tipo_numero] FOREIGN KEY([tipo_numero_id])
REFERENCES [dbo].[tipos_numero] ([id])
GO
ALTER TABLE [dbo].[contactos] CHECK CONSTRAINT [fk_contactos_tipo_numero]
GO
ALTER TABLE [dbo].[facturas]  WITH CHECK ADD FOREIGN KEY([contacto_id])
REFERENCES [dbo].[contactos] ([id])
GO
ALTER TABLE [dbo].[facturas]  WITH CHECK ADD FOREIGN KEY([periodo_id])
REFERENCES [dbo].[periodos_facturacion] ([id])
GO
ALTER TABLE [dbo].[llamadas]  WITH CHECK ADD FOREIGN KEY([contacto_origen_id])
REFERENCES [dbo].[contactos] ([id])
GO
ALTER TABLE [dbo].[troncales]  WITH CHECK ADD FOREIGN KEY([departamento_id])
REFERENCES [dbo].[departamentos] ([id])
GO
ALTER TABLE [dbo].[departamentos]  WITH CHECK ADD CHECK  (([region]='centro' OR [region]='occidente' OR [region]='caribe' OR [region]='sur' OR [region]='norte'))
GO
USE [master]
GO
